<div class="bck darkest text right color white">
    <div class="row">
        <div class="column_2 offset_10">
            <p><a href="#" ng-click="changeLanguage('en')">en</a> | <a href="#" ng-click="changeLanguage('es')">es</a></p>
        </div>
    </div>
</div>

<section class="bck darkest landing text center color white">
    <div class="row">
        <div class="column_10 offset_1">
            <h1 class="text shadow color stronger" translate="SOCIAL_ON_BANKING"></h1>
            <h2 class="margin-bottom" translate="TRUST_AND_ETHICS"></h2>
        </div>
    </div>
   

<!-- Begin MailChimp Signup Form -->
            <form action="http://enreda.us3.list-manage.com/subscribe/post?u=279b072f7731d3c44289c5ffd&amp;id=4d655ec7c0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
               
<div class="row">
        <div class="column_6 offset_3 form subscribe">
                  <input type="email" value="" name="EMAIL" class="large" placeholder="Your email address" id="mail">
                  <button type="submit" class="button large icon envelope" id="mc-embedded-subscribe"> </button>
         <input type="text" name="b_279b072f7731d3c44289c5ffd_4d655ec7c0" value="" style="display:none">
        <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
    </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
</div></div></form>


<!--End mc_embed_signup-->



         <!--   <input type="email" id="mail" class="large" placeholder="Your email address">
            <button class="button large icon envelope"></button> -->
        
    
    <h5 class="text book" translate="MORE_INFO"></h5>
    <br>
    <p> <a href="https://twitter.com/SocialOnBanking" class="twitter-follow-button" data-show-count="false" data-lang="en" data-size="large" translate="FOLLOW_TWITTER"></a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script> </p>
</section>

<section class="bck light padding text center">
    <div class="row padding-bottom">
        <div class="column_10 offset_1">
            <h1 class="text book bold color stronger" translate="SOCIAL_ON_BANKING"></h1>
                <h3 class="color default">
                    <div translate="SOB_LANDING_P1"></div>
                    <div translate="SOB_LANDING_P2"></div>
                    <div translate="SOB_LANDING_P3"></div>
                </h3>
        </div>
    </div>

    <div class="row padding-top">
        <div class="column_4">
            <h2 class="icon list color stronger"></h2>
            <h3 class="text normal color stronger" translate="TRANSPARENCY"></h3>
            <br>
            <h5 class="color default" translate="TRANSPARENCY_DESCRIPTION"></h5>
        </div>
        <div class="column_4">
            <h2 class="icon ok color stronger"></h2>
            <h3 class="text normal color stronger" translate="TRUST"></h3>
             <br>
            <h5 class="color default" translate="TRUST_DESCRIPTION"></h5>
        </div>
        <div class="column_4">
            <h2 class="icon group color stronger"></h2>
            <h3 class="text normal color stronger" translate="COOPERATION"></h3>
             <br>
            <h5 class="color default" translate="COOPERATION_DESCRIPTION"></h5>
        </div>
    </div> 
</section>

<section class="bck theme padding">
    <div class="row text thin center">
        <div class="column_8 offset_2">
            <h2 class="text book color default" translate="SASKIA_QUOTE"></h2>
            <h4 class="text book color theme">
                -- Saskia Sassen
            </h4>
        </div>
    </div>
</section>
<!--
<section class="bck lightest landing">
    <div class="row text center">
        <div class="column_10 offset_1">
            <a href="http://enreda.coop"><img src="images/bola_enreda.png" width="100"></a>
            <h3 class="text bold color theme">Un proyecto de ERIS</h3>
            <a href="#" class="button large margin-top">Conócenos</a>
        </div>
    </div>
</section>
-->
<!-- <section class="padding bck color">
    <div class="row margin-bottom">
        <div class="column_10 offset_1 text center">
            <h1 class="color book theme">Author</h1>
            <h3 class="text thin">Javi Jimenez is the CTO and co-founder of <a href="http://tapquo.com" class="text normal">tapquo</a>. A restless mind that always strives for continuous improvement, able to create frameworks like <a href="http://lungo.tapquo.com" class="text normal">Lungo</a>, <a href="http://quojs.tapquo.com" class="text normal">QuoJS</a>, <a href="http://monocle.tapquo.com" class="text normal">Monocle</a> used by thousands of developers around the world.</h3>
         </div>
     </div>
</section> -->