@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);

body {
    font-family: 'Open Sans', sans-serif;
    color: #333;
    background: #f5f1e8 url("../images/bg-gradient-sand.png") repeat-x;
}

.element-invisible {
  border: 0;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px,1px,1px,1px);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

#header-container {
  #header-wrapper {
    #brand-wrapper {
      margin: 0 auto;
      #header {
        position: absolute;
        top: -3px; //temp
        left: 12px; //temp
        z-index: 7;
        #branding {
          margin: 0 auto;
          #logo {
              padding: 0;
              img {
                width: 120px;
                height: 120px;
                vertical-align: bottom;
              }
          }
        }
      }
    }
    #nav-wrapper {
      margin: 0;
      height: 45px;
      #menu-bar {
        ul {
          list-style-type: none;
          font-size: 1.3em;
          font-weight: bolder;
          li {
              a {
                  float: left;
                  padding-top: 0.5em;
                  padding-bottom: 0.5em;
                  padding-right: 1em;
                  color: black;
              }
              a:hover, a:active, a:visited {
                  color: blue;
                  text-decoration: none;
              }
          }
        }
      }
    }
  }
}

#landing {
}

#headline {
    width: 100%;
    background: url("../images/headline.jpg") no-repeat 20%;
    .container {
      height: 450px;
      position: relative;
      .row {
        h2 {
          position: absolute;
          bottom: 20px;
          right: 20px;
          color: #fff;
          font-size: 3em;
          font-weight: bold;
          text-shadow: 2px 2px 0 #000;
          // text-shadow: 4px 3px 0 #1d9d74,9px 8px 0 rgba(0,0,0,0.15);
      }
      }
    }

}

#sob-basics {
  h2 {
    font-size: 2.2em;
  }
  p {
    font-size: 1.3em;
  }
}

.key {
  i {
    font-size: 4em;
  }
}

#quote {

    

    i {
        font-size: 4em;
        line-height: 60px;
    }
    .text {
        text-weight: bolder;
    }
    .author {

    }
}

footer {

    #org-menu {

        ul {
            list-style-type: none;
        }

    }

    #social-menu {

        ul {
            list-style-type: none;
        }

    }

}

.organization-card {

  .title {
    padding-top: 2em;
  }
  .meta {
    padding-top: 4em;
  }
  .summary {
    padding-top: 2em;
  }

}


// Temp code
.barchart { 
  background-color: #a3dbe3;
  height: 1em;
  padding: 0em;
  margin: 0.625em 0; 
  width: 100%; 
    .meter {
      background: #2daebf;
      height: 100%;
      display: block; }
}


table.chart { 
  width: 100%;
  border-width: 0;
  margin: 40px 0; }

td.chart {
  font-size: 14px;
  margin-bottom: 50px;
  padding: 0 0 20px 0; }

p.percentage {
  font-size: 30px !important; 
  color: #6f6f6f;
  font-weight: 300;
  margin-bottom: 17px;}

table tr.even, table tr.alt, table tr:nth-of-type(even) { 
  background: #FFF;
}              
